
/* .rhap_time, .rhap_current-time{
  color: white !important;
  background: #14213d !important;
} */
.rhap_container.rhap_loop--off.rhap_play-status--paused.player-bar{
  color: white !important;
  background: #14213d !important;
}
.player-bar{
  width: 600px !important;
  margin: 0 auto;
  border-radius: 8px;
  background: transparent;
  border: none;
  outline: none;
  height: 6rem;
  background: #14213d !important;
  color: white;
}

::selection{
  background-color: transparent;
  color: #45cde9;
}

/* width */
::-webkit-scrollbar {
  /* width: 10px; */
  display: none;
}



